<ion-pane>
	<div class="main">
		<div class="main-container">
			<div class="main-header">
				<div class="main-logo">
					<img src="img/logo-flat-text.png">
				</div>
				<div class="main-description"></div>
			</div>
			<div class="main-bar">
				<a class="bar-item" ng-href="#/web/profile">Company Profile</a>
				<a class="bar-item" ng-href="#/web/legal">Legal Aspect</a>
				<a class="bar-item" ng-href="#/web/voltabio">Voltabio</a>
				<a class="bar-item" ng-href="#/web/service">Service And Product</a>
				<a class="bar-item" ng-href="#/web/corporate">Corporate</a>
			</div>
			<ion-nav-view name="menuContent"></ion-nav-view>
		</div>
	</div>
</ion-pane>