<div style="padding-right:20px;">
	<h2 class="bottom-border blue">CSR (Corporate Social Responsibility)</h2>
	<div>
		<img class="slideImg fade" src="img/csr1.jpg">
		<img class="slideImg fade" src="img/csr2.jpg">
		<img class="slideImg fade" src="img/csr3.jpg">
		<img class="slideImg fade" src="img/csr4.jpg">
	</div>
	<h2 class="bottom-border blue">Awards</h2>
	<div>
		<img class="slideImg fade" src="img/award1.jpg">
		<img class="slideImg fade" src="img/award2.jpg">
		<img class="slideImg fade" src="img/award3.jpg">
		<img class="slideImg fade" src="img/award4.jpg">
	</div>
</div>