<p class="MsoNormal" style="text-align: justify; line-height: 150%;"><span style="font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">The Indonesia Cabinet II launched a united national
         strategic programs, revitalization Sugar Industry to achieve
         "SWASEMBADA" of sugar. As a self-evaluation, Indonesia at the time of
         Dutch rule in the 1940s is an exporter of sugar to two in the world, now become
         the number two importer after Russia. Very ironic, existing best practice in
         the reign of the Dutch lost along with the departure of the practitioners or
         even the absence of a successor of the caliber of the Dutch researchers, such
         as Noel Derr and Hommes. On the other side of concern (on-farming) number of
         productive sugarcane land on the island of Java is now on the wane because of
         claims to real estate, in addition to drastically reduced land productivity.</span></p><p class="MsoNormal" style="text-align: justify; line-height: 150%;"><span style="font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">although the current reality and optimistic attitude, <span style="font-weight: bold;">CV.
         AJS-<span style="color: #E2341D;">VOLTABIO</span></span><span style="color: #E2341D;"> </span>participate sugar production optimization to improve process
         efficiency and increased productivity in support of government programs for
         "SWASEMBADA" of sugar and even if it may be a surplus of sugar in the
         future as in the heyday of the past. Why should a surplus of sugar? addition to
         fulfilling the needs of their own (swasembada), the demands of the world to
         search for chemical and bio-energy sugars from plant materials, such as
         bioethanol, glutamic acid, acetone, butanol, etc so make the sugar industry
         more strategic. This means that the sugar mills should further optimize the
         production process of sugar / factory and of course leads to high productivity.</span></p><p class="MsoNormal" style="text-align: justify; line-height: 150%;"><span style="font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">on the other hand, the challenge of a high quality of life
         requires GKP quality should be better than in the past and has been in the news
         with increasing the standartd GKP to make revisions. Anticipation Revision GKP
         is necessary and for the <span style="font-weight: bold;">CV. AJS-<span style="color: #E2341D;">VOLTABIO</span></span> continue to conduct research on the
         development of industrial process technology.</span></p><p class="MsoNormal" style="text-align: justify; line-height: 150%;"></p><ul style="line-height: 150%;"><li><span style="font-size: 14px; font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Modification process / retorfitting double sulfitation
         process "to" <span style="font-weight: bold;">Sulfitation process Modified by <span style="color: #E2341D;">Voltabio</span></span> with the goal
         of improving the productivity of white sugar (GKP) 2-3% due to an increase in
         effective yield of sugar so that the optimization can be done.</span><br></li><li><span style="font-size: 14px; font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">improvement of production quality white sugar (GKP) to
         anticipate Revision, ICUMSA = 55 IU and the SO2 content of &lt;30 ppm, the
         efficiency of the use of eduction in sulfur (S) 30-50%.</span><br></li><li><span style="font-size: 14px; font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">With this modified process, <span style="font-weight: bold; color: #E2341D;">Voltabio</span> can provide the
         optimal GKP&nbsp;production quantity and quality.</span><br></li></ul><p>
         
         
         
        </p><p class="MsoNormal" style="text-align: justify; line-height: 150%;"><span style="font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">In short, Optimization of the production of sugar and
         anticipation SNI GKP can be done with the things mentioned above are concrete
         with "<span style="color: rgb(226, 52, 29); font-weight: bold;">Single sulfitation Modified by Voltabio</span>"</span></p><p><br></p>
    </div><div class="art-layout-cell layout-item-2" style="width: 50%" >
        <p class="MsoNormal" style="text-align: justify; line-height: 150%;"><span style="font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">The meaning of&nbsp; "<span style="font-weight: bold; color: #E2341D;">Single sulfitation Modified by
         Voltabio</span>" is the process of adding sulfur at first stasiun after PP I, but
         for the Optimal production in quality and quantity need to modify in "a
         material" begin from improved factory efficiency at St. Rolling pin, St.
         Purification and viscous sap sulfitir tank with&nbsp;<b><span style="font-size: 10.5pt; line-height: 115%; font-family: Arial, sans-serif; color: rgb(226, 52, 29);">Voltabio</span></b><span style="font-size: 10.5pt; line-height: 115%; font-family: Arial, sans-serif;">&nbsp;2303
         Biocide FG,&nbsp;</span><b><span style="font-size: 10.5pt; line-height: 115%; font-family: Arial, sans-serif; color: rgb(226, 52, 29);">Voltabio</span></b><span style="font-size: 10.5pt; line-height: 115%; font-family: Arial, sans-serif;">&nbsp;2219 Des FG,&nbsp;</span><b><span style="font-size: 10.5pt; line-height: 115%; font-family: Arial, sans-serif; color: rgb(226, 52, 29);">HT-001</span></b><span style="font-size: 10.5pt; line-height: 115%; font-family: Arial, sans-serif;">&nbsp;Surf
         FG</span> &nbsp;applied at rolling pin and vacuum
         filters and <span style="font-weight: bold; color: #E2341D;">Voltabio</span> 079 while the soiled sap and &nbsp;<span style="font-weight: bold; color: #E2341D;">Voltabio</span>&nbsp;2289 FG &nbsp;given to
         tank sulfitir.</span></p><p class="MsoNormal" style="text-align: justify; line-height: 150%;"><span style="font-size: 10.5pt; line-height: 115%; font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><span style="font-weight: bold; color: #E2341D;">Voltabio</span> 079
         FG has been tested at a dose of 10-20 ppm gave excellent results such as lower
         conductivity of clear juice is &nbsp;2, reduce
         levels of CaO / Bx dissolved in the clear juice was 0.84 ppm / Bx and lower
         turbidity in the clear juice of points. Sulfitation viscous sap modified by the
         addition of anti-colorant (compound color remover), <span style="font-weight: bold; color: #E2341D;">Voltabio</span>&nbsp;2289 FG in&nbsp;the sulfitir&nbsp;tank by means of the injection of anti-colorant through the pump to
         obtain a dose smaller than ICUMSA. Furthermore, the levels of sulfite (SO2) in GKP
         will drop dramatically and the use of sulfur daoat down and "Variety /
         Range" color small sugar solution. Not like double sulfitation process
         that gives "variation / range" color sugar solution is very high.</span></p><p class="MsoNormal" style="text-align: justify; line-height: 150%;"><span style="font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Please note that using the "<span style="font-weight: bold;">Single sulfitation Modified
         by <span style="color: #E2341D;">Voltabio</span></span>" still allows use to process sugar without a large investment
         in equipment or process changes.</span></p>
         
        <p class="MsoNormal" style="text-align: justify; line-height: 150%;"><span style="font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">It can be concluded the benefits "<span style="font-weight: bold; color: #E2341D;">Single sulfitation
         Modified by Voltabio</span>" are :</span></p><p class="MsoNormal" style="text-align: justify; line-height: 150%;"></p><ul style="line-height: 150%;"><li><span style="font-size: 14px; font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Optimizing the performance of sugar production in quality
         and quantity due to an increase in active recovery.</span><br></li><li><span style="font-size: 14px; font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Reducing the levels of SO2</span><br></li><li><span style="font-size: 14px; font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Lower levels of CaO / Bx</span><br></li><li><span style="font-size: 14px; font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Variations / span small sugar solution</span><br></li><li><span style="font-size: 14px; font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;">Not required investment tool with high costs.</span><br></li></ul><p class="MsoNormal" style="line-height: 150%;"><span style="font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif;"><span style="font-weight: bold; color: #E2341D;">Voltabio</span> very welcome &nbsp;to provide sharing and ready to work with the
         parties to the need sugar in order to optimize performance efficiency and
         increased productivity in the sugar factory, in particular to support the
         Swasembada targets sugar and sugar surplus in Indonesia, which would restore
         the glory of Indonesia in the past .</span></p><p style="line-height: 150%;"><br></p><p>