<div class="content">
	<div class="about">
		<div>
		<img src="img/logo-flat.png" style="width: 100px;">
		<br />
		Official website and career site of CV. Anugerah Jaya Semesta - <span style="color:#ff3e3e;">VOLTABIO</span>. Powered by relaxtudio as a partner of web development. <br />
		All materials (information, images, etc) on this website and career site are copyrighted by CV. Anugerah Jaya Semesta - <span style="color:#ff3e3e;">VOLTABIO</span>. <br />
		Taking without permission is strictly prohibited.
		</div>
		<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->
 
<svg
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  width="500"
  height="500"
  viewBox="0 0 132.29166 132.29167"
  version="1.1"
  id="svg8"
  inkscape:version="0.92.1 r15371"
  sodipodi:docname="relaxtudio.svg">
  <defs
    id="defs2" />
  <sodipodi:namedview
    id="base"
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1.0"
    inkscape:pageopacity="0.0"
    inkscape:pageshadow="2"
    inkscape:zoom="0.7"
    inkscape:cx="349.29226"
    inkscape:cy="263.64076"
    inkscape:document-units="mm"
    inkscape:current-layer="layer1"
    showgrid="false"
    units="px"
    inkscape:window-width="1920"
    inkscape:window-height="1031"
    inkscape:window-x="-4"
    inkscape:window-y="-4"
    inkscape:window-maximized="1" />
  <metadata
    id="metadata5">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
    inkscape:label="Layer 1"
    inkscape:groupmode="layer"
    id="layer1"
    transform="translate(0,-164.70832)">
    <path
      style="fill:#000000;stroke:none;stroke-width:0.87450236px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
      d="m 44.516797,173.24554 -2.030096,31.38838 13.117535,13.58603 -12.024409,47.16065 0.46849,11.24363 13.117536,12.80519 32.950002,0.31234 7.96422,-3.27939 c 0,0 7.651885,-8.74502 2.498575,-21.08177 -5.153312,-12.33671 -12.152152,-27.34551 -5.593401,-28.75096 3.52216,-0.63248 5.749571,-1.07581 4.812579,-4.97985 -0.93696,-3.90401 -7.309529,-5.18174 -10.618966,-0.46848 -1.818722,3.71944 -4.997141,7.33957 -0.312342,20.61328 4.684832,13.2737 8.432701,17.17775 7.183399,23.58033 -1.193577,3.37442 -1.621931,4.5983 -4.528625,5.46565 l -8.120368,-0.31234 2.030097,-3.5917 1.405439,-10.7751 -12.492881,-48.09766 12.80519,-13.1175 -1.561577,-31.23225 -9.994325,9.99431 -9.525829,-4.68482 -12.024408,4.06018 z"
      id="path4496"
      inkscape:connector-curvature="0"
      sodipodi:nodetypes="ccccccccscccccccccccccccc" />
  </g>
</svg>
	</div>
</div>
<ng-include src="'includes/footer.html'"></ng-include>
