<div class="content">
	<div class="about">
		<div>
		<img src="img/logo-flat.png" style="width: 100px;">
		<br />
		Official website and career site of CV. Anugerah Jaya Semesta - <span style="color:#ff3e3e;">VOLTABIO</span>. Powered by relaxtudio as a partner of web development. <br />
		All materials (information, images, etc) on this website and career site are copyrighted by CV. Anugerah Jaya Semesta - <span style="color:#ff3e3e;">VOLTABIO</span>. <br />
		Taking without permission is strictly prohibited.
		</div>
		<br />
		<img src="img/relaxtudio.jpg" style="width:100px;">
	</div>
</div>
<ng-include src="'includes/footer.html'"></ng-include>
