<div class="content">
	<div class="grid w1 h1">
		<div class="cc-container bottom-border">
			<div class="head">
				<div>CONTENT</div>
			</div>
		</div>
	</div>
	<div class="grid w2 h1">
		<div class="video-container">
			<section class="video" ng-video>
				<video vi-screen autoplay loop></video>
			</section>
		</div>
	</div>
	<div class="grid full h3 bottom-border"></div>
	<div class="grid full">
		<div class="contact-info">
			<div class="phone">
				<div class="label darkblue">CONTACT US</div>
				<div class="value red"><i class="icon ion-ios-telephone"></i> 031-72109633</div>
				<div class="value red"><i class="icon ion-printer"></i> 031-51513199</div>
			</div>
		</div>
	</div>
</div>
<ng-include src="'includes/footer.html'"></ng-include>